<section class="welcome">
    <div class = "welcome__header">
    <h1>👋 Willkommen bei deinem MoodTracker!</h1>
    <p>Wie möchtest du heute starten?</p>
    </div>
    <div class ="welcome__cards">
    <a class="card card--add" routerLink="/add-entry">
      <div class="card__icon">😊</div>
      <div class="card__label">Eintrag hinzufügen</div>
    </a>
    <a class="card card--history" routerLink="/history">
      <div class="card__icon">📈</div>
      <div class="card__label">Verlauf</div>
    </a>
    <a class="card card--stats" routerLink="/statistics">
      <div class="card__icon">📊</div>
      <div class="card__label">Statistik</div>
    </a>
    <a class="card card--settings" routerLink="/settings">
      <div class="card__icon">⚙️</div>
      <div class="card__label">Einstellungen</div>
    </a>
    </div>
  </section>
  