<div class="settings-container">
    <h2>⚙️ Einstellungen</h2>
  
    <div class="welcome__cards">
        <div class="card card--profile" (click)="goTo('profile')">
            <div class="card__icon">👤</div>
            <div class="card__label">Profil</div>
          </div>
      <div class="card card--categories" (click)="goTo('categories')">
        <div class="card__icon">📝</div>
        <div class="card__label">Kategorien bearbeiten</div>
      </div>
  
      <div class="card card--export" (click)="goTo('export')">
        <div class="card__icon">📤</div>
        <div class="card__label">Daten exportieren</div>
      </div>

    </div>
  </div>
  