/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f7f7f7;
    color: #333;

    &.welcome-page {
        .navbar {
            display: none;
        }
    }
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(to right, #d0eaff, #e0d7f7);
    color: #333;
    border-radius: 0 0 12px 12px;
  
    a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      transition: background 0.3s, border-bottom 0.3s;
  
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
  
      &.active {
        border-bottom: 2px solid #666;
        font-weight: 700;
      }
    }
  }
  
  
 
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
