<div class="history-container">
    <h2 class="title">📈 Verlauf</h2>
  
    <div class="filter-bar">
      <label>
        Gruppierung:
        <select [(ngModel)]="groupMode">
          <option value="day">Tag</option>
          <option value="week">Woche</option>
          <option value="month">Monat</option>
        </select>
      </label>
      <input
      type="text"
      placeholder="Filter (Jahr oder Monat)..."
      [ngModel]="filterInput()"
      (ngModelChange)="filterInput.set($event)"
    />

    <button (click)="applyFilter()">Filter anwenden</button>
    <button (click)="resetFilter()">Zurücksetzen</button>
  </div>

  <div class="chart-box">
    <canvas
  baseChart
  [datasets]="chartDatasets"
  [labels]="chartLabels"
  [options]="chartOptions"
  [legend]="true"
  chartType="line">
</canvas>

  </div>
  
  
  
    <div class="entries-list">
      <div
        *ngFor="let entry of entries()"
        class="entry-card"
        [ngStyle]="{ 'background-color': getColor(entry.mood) }"
      >
        <div class="icon">{{ getIcon(entry.mood) }}</div>
        <div class="content">
          <div class="date">{{ formatDate(entry.date) }}</div>
          <div class="mood">{{ entry.mood.text }}</div>
          <a [routerLink]="['/history', entry.id]" class="details-link">Details anzeigen</a>
        </div>
      </div>
    </div>
  </div>
  