<div class="history-container">
    <h2 class="title">Verlauf</h2>
  
    <div class="filter-bar">
        <label for="groupMode">Anzeigen:</label>
        <select id="groupMode" [(ngModel)]="groupMode" (change)="prepareChartData()">
          <option value="day">Pro Tag</option>
          <option value="month">Pro Monat</option>
          <option value="week">Pro Kalenderwoche</option>
        </select>

        <label for="filterInput">Filter:</label>
        <input
          id="filterInput"
          [(ngModel)]="filterInput"
          placeholder="z.B. 2025-07 oder 2025-W28"
        />
      
        <button (click)="applyFilter()">Suchen</button>
        <button (click)="resetFilter()">Zurücksetzen</button>

    </div>

    <div class="chart-box">
      <canvas
        baseChart
        [datasets]="[{ data: chartData, label: 'Einträge pro Tag' }]"
        [labels]="chartLabels"
        [options]="{
            responsive: true,
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                  precision: 0,
                  stepSize: 1
                }
              }
            }
          }"
        [legend]="true"
        chartType="line"
      ></canvas>
    </div>
  
    <div class="entries-list">
      <div
        *ngFor="let entry of entries"
        class="entry-card"
        [ngStyle]="{ 'background-color': getColor(entry.mood) }"
      >
        <div class="icon">{{ getIcon(entry.mood) }}</div>
        <div class="content">
          <div class="date">{{ formatDate(entry.date) }}</div>
          <div class="mood">{{ entry.mood }}</div>
          <div class="activities">
            {{ entry.activities.length ? entry.activities.join(', ') : 'Keine Aktivitäten' }}
        </div>
          <div class="notes">{{ entry.notes }}</div>
        </div>
      </div>
    </div>
  </div>
  